@using System.Security.Claims
@using SurveyOnline.DAL.Entities.Enums
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 bg-light vh-100 sticky-top">
            <div class="d-flex flex-column align-items-start mt-3">
                <h4 class="mb-4">Navigation</h4>
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" asp-page="@nameof(Index)"><i class="fas fa-home"></i> Main</a>
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-page="@nameof(Login)"><i class="fas fa-sign-in-alt"></i> Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="@nameof(Register)"><i class="fas fa-user-plus"></i> Registration</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <form method="post" asp-page="@nameof(Index)" asp-page-handler="Logout" class="nav-link">
                                <button type="submit" class="btn btn-link p-0"><i class="fas fa-sign-out-alt"></i> Logout</button>
                            </form>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && User.FindFirst(ClaimTypes.Role)?.Value == RoleType.Admin.ToString())
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-page="@nameof(AdminPanel)"><i class="fas fa-cog"></i> Admin Panel</a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-page="@nameof(SurveyConstructor)"><i class="fas fa-pencil-alt"></i> Survey Constructor</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

        <main class="col-md-9 col-lg-10">
            <div class="row bg-light py-3">
                <div class="col-12">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </main>
    </div>
</div>

@await RenderSectionAsync("Scripts", required: false)

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
