@using Markdig
@using Microsoft.AspNetCore.Mvc.Localization
@model SurveyOnline.BLL.Entities.DTOs.Survey.SurveyDto
@inject IViewLocalizer Localizer

<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
    <div class="card h-100 shadow-sm">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">@Model.Title</h5>
            @if (Model.UrlImage is null)
            {
                <div class="d-flex align-items-center justify-content-center text-secondary flex-grow-1">
                    <i class="fas fa-image fa-5x"></i>
                </div>
            }
            else
            {
                <img src="@Model.UrlImage" class="img-fluid mb-3" style="max-height: 35%; object-fit: contain;" alt="Survey image" />
            }
            <div class="flex-grow-1" style="max-height: 40%;">
                <div class="card-text text-truncate" style="max-height: 100%;">
                    @Html.Raw(Markdown.ToHtml(Model.Description))
                </div>
            </div>
            <p class="card-text">
                <small class="text-muted">@Localizer["Author"]: @Model.AuthorName</small>
            </p>
            <a asp-page="@nameof(PassingSurvey)" asp-route-id="@Model.Id" class="btn btn-primary mt-auto">@Localizer["GoToSurvey"]</a>
        </div>
    </div>
</div>